#header {
  padding-left: 10px;
  padding: 5px 10px 5px 18px;

  background-color: white;
  color: #8c0000;
  font-size: 20px;
  font-weight: bold;

  box-shadow: 0px 0px 10px 0px black;

  position: fixed;
  top: 0px;
  width: 100%;
}

#contents {
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0px auto;
  position: relative;
  top: 70px;
}

h3 {
  color: #8c0000;
  font-size: 18px;
  font-weight: bold;

  padding: 0px 10px 0px 24px;
  margin: 0px;
}

p {
  margin: 8px 0px;
}

#timeplace {
  padding: 0px 10px 0px 30px;
}

#detail {
  margin: 0px 30px;
}

input {
  width: 260px;
}

#buttons {
  flex-wrap: wrap;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);

  margin: 10px 0px;
}

button {
  width: 300px;
  height: 40px;

  box-shadow: 0px 0px 5px 0px darkgrey;

  margin: 2px 5px;

  border: none;
  padding: 0px;
}
#submission {
  background-color: #8c0000;
  color: white;
}
#goback {
  background-color: white;
  color: #8c0000;
  border: solid 3px #8c0000;
}
