#next {
  position: absolute;
  bottom: 160px;
  left: 50%;
  transform: translate(-50%, 0%);

  border: none;

  width: 230px;
  height: 70px;
  padding: 10px 20px;

  color: white;
  font-size: 20px;
  text-align: left;
}
