#header {
  padding-left: 10px;
  padding: 5px 10px 5px 18px;

  background-color: white;
  color: #8c0000;
  font-size: 20px;
  font-weight: bold;

  box-shadow: 0px 0px 10px 0px black;

  position: fixed;
  top: 0px;
  width: 100%;
}

#contents {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  position: relative;
  top: 70px;
}

#bus-select {
  width: 160px;
  height: 32px;
  background-color: violet;
  /*TBD CSS*/
}

.alltable {
  border: 1px solid gray;
  padding: 10px;
  margin: auto;
}

.chair {
  padding: 5px;
  text-align: center;
  width: 70px;
  height: 60px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px darkgrey;

  margin: 10px;
}

#legend {
  margin: 25px 0px;
}
.color {
  width: 16px;
  height: 16px;
}

#impossible-color {
  background-color: #ccc2a3;
}
#reserved-color {
  background-color: #e7e5e8;
}
#possible-color {
  background-color: #8c0000;
}
.seat-condition {
  font-size: 11px;
  text-align: left;
  padding: 0px 5px;
}

.next {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translate(-50%, -100%);

  border: none;

  width: 230px;
  height: 70px;
  padding: 10px 20px;

  color: white;
  font-size: 20px;
  text-align: left;
}
.crimson {
  background-color: #8c0000;
}

.unselectable {
  background-color: wheat;
  color: black;
}
.unselected {
  background-color: #8c0000;
}
.selected {
  background-color: gray;
  color: white;
}

.arrow {
  width: 30px;
  position: absolute;
  right: 10px;
  filter: invert(100);
}
