#contents {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0px auto;
  position: relative;
  top: 70px;
}

#bus-select {
  width: 160px;
  height: 32px;
  background-color: violet;
  /*TBD CSS*/
}

.alltable {
  border: 1px solid gray;
  padding: 10px;
  margin: auto;
}

.chair {
  padding: 5px;
  text-align: center;
  width: 70px;
  height: 60px;

  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 1px 0px darkgrey;

  margin: 10px;
}

#legend {
  margin: 25px 0px;
}
.color {
  width: 16px;
  height: 16px;
}

#impossible-color {
  background-color: #ccc2a3;
}
#reserved-color {
  background-color: #e7e5e8;
}
#possible-color {
  background-color: #8c0000;
}
.seat-condition {
  font-size: 11px;
  text-align: left;
  padding: 0px 5px;
}

.crimson {
  background-color: #8c0000;
}

.unselectable {
  background-color: wheat;
  color: black;
}

.selectable {
  background-color: #8c0000;
  color: white;
}

.selected {
  background-color: gray;
  color: white;
}

.arrow {
  width: 30px;
  position: absolute;
  right: 10px;
  filter: invert(100);
}
