
.LoginPage{
    background: linear-gradient(90deg, darkred 50%, rgb(255,219,88) 50%);
    width: 320px;
    height: 500px;
    margin: auto;
    padding: 10px 0px;
}
.KU_logo>img{
    width: 120px;
    height: 120px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Login{
    background-color: rgb(255, 250, 238);
    width: 320px; 
    height: 500px;
    /*Login이라는 div를 가운데 위치로 오게하는 역할*/  
    margin: auto;                
    /*Login div내부의 배치*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    }
.Login>h1{
    font-size: 24px;
    text-align: center;
    margin-bottom: -2px;
}
.Login>h2{
    font-size: 15px;
    text-align: center;
    margin-bottom: 18px;
}
.LoginField>input {
    width: 200px;
    height: 24px;
    margin-bottom: 5px;
}
#LoginSubmit{
    background-color: darkred;
    color:white;
    width: 200px;
    height: 28px;
    border: 0px;
    text-margin:
}
#LoginSubmit:hover{
    box-shadow: 0px 5px 10px 0px darkgray;
}
